@media only screen and (max-width: 1200px) {

  .row {
       padding: 0 2%;
       max-width: 1200px;
   }

  .welcome-box {
    padding-top: 90px;
  }

}


@media only screen and (max-width: 1023px) {
  #popup {
    width: 1000px;
    height: 700px;
  }

  #large-video-info {
    margin-left: 11%;
    margin-top: 100px;
  }

  #video-info {
    margin-top: 525px;
  }

  .img-p {
    max-width: 330px;
    max-height: 210px;
  }

  .logo-bottom {
    margin-left: 33.5%;
  }

}


@media only screen and (max-width: 767px) {

   .vid-icon {
     display: none;
   }


    body { font-size: 16px; }

    section { padding: 30px 0; }

    .row {
        padding: 0 0 0 0;
    }

    .col {
      width: 100%
    }

    .col:first-child {
      margin: 0 0 25px 1.6%;
    }

    .large-background {
      height: 150px;
    }

    .welcome-container {
      display: none;
    }

    .web-dev-video {
      margin-bottom: 25px
    }

    #web-dev-video-section,
    #web-dev-video-section2,
    #web-dev-video-section3,
    #web-dev-video-section4,
    #web-dev-video-section5,
    #web-dev-video-section6,
    #web-dev-video-section7 {
      padding-top: 0px;
    }

    .welcome-box {
      padding-top: 100px;
    }

    .navi-btn {
      display: inline-block;
      font-size: 150%;
    }

    .nav-bar-list {
       display: none;
       float:left;
       margin-left: 50px;
   }

   .nav-bar-list li {
       display: block;
       border: 0;
       padding: 0px;
       float: none;
       margin-bottom: 20px;
   }

   .nav-bar-list li a:link,
   .nav-bar-list li a:visited {
       display: block;
       border: 0;
       padding: 0px;
   }

   .sticky {
     display: none;
   }

   .lookbook-text {
     margin-top: 25px;
   }

   .logo-img {
     margin-left: 31%;
   }

   .book-col {
     margin-bottom: 30px;
   }

   .bottom-img-div {
    padding-right: 325px;
    width: 59%;
  }

  .footer-links {
    width: 40%;
  }


}

@media only screen and (max-width: 600px) {
  .bottom-img-div {
    padding-right: 225px;
  }
}




@media only screen and (max-width: 480px) {

    .large-background {
      height: 150px;
    }

    .welcome-box {
      font-size: 200%;
    }

    .welcome-container {
      height: 350px;
      margin-top: 100px;
      display: none;
    }

    .web-dev-video {
      margin-bottom: 25px;
    }

    .resize-me {
      margin-bottom: -10px;
    }

    .contact-header {
      font-size: 150%;
      margin-bottom: -25px;
    }

    .col {
      width: 100%
    }

    .col:first-child {
      margin: 10px 0 25px .5%;
    }

    #web-dev-video-section,
    #web-dev-video-section2,
    #web-dev-video-section3,
    #web-dev-video-section4,
    #web-dev-video-section5,
    #web-dev-video-section6,
    #web-dev-video-section7 {
      padding-top: 25px;
    }

    .welcome-box {
      padding-top: 75px
    }

    .img-p {
      max-width: 100%;
      max-height: 100%;
    }

    .home-images {
      padding: 20px 100px 20px 100px
    }

    .logo-bottom {
      margin-left: 20%;
    }

    .bottom-img-div {
      padding-right: 190px;
    }

}
